
<%- model_class = Qrcode -%>

<center>
<div class ="hidden-print">
  <div class="print-blurb">
    <p> Below is the generated QR code, print it, hide it, scan it and you ready to Nature Quest</p>
  </div>
</div>



<div class="page-header">
  <h1>You have found a QRCode!</h1>
</div>

<center>
<div onclick="window.print()" ><%= image_tag @qrcode.imgloc %></div>


<div class="reference">

<strong> <p> Ref: #<%= @qrcode.ref %> </p> </strong>
</div>
</center>




<div class="user-find">
<p> Oh! You found me! Scan me to answer me! </p>
</div>



<div class = "hidden-print">
<div class="form-actions">
  <center>
  <%= link_to 'Back', {:controller => "qrcodes", :action => "index", :quest_id => @qrcode.quest_id }%>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_qrcode_path(@qrcode), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              qrcodes_path, :class => 'btn' %>
  </center>
</div>
</div>
</center>
