<script>
function formSubmit() {
	document.getElementById("new_user").submit();
}
</script>
<div id="login">
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
 <table>
 <tr> 
<td> <%= f.label :email %></td>
</tr>
<tr>
 <td> <%= f.email_field :email, :autofocus => true %></td>
 </tr>
 <tr>
 <td><%= f.label :password %></td>
  </tr>
  <tr>
  <td><%= f.password_field :password %></td>
  </tr>
  <% if devise_mapping.rememberable? -%>
<tr>
   <td id="checkbox"><%= check_box_tag(:remember_me) %>
<%= label_tag(:remember_me, "Remember Me") %></td>
   </tr>
  <% end -%>
<tr>
<td onclick="formSubmit()"><%= link_to image_tag("/assets/login.png"), "#" %></td>
</tr>
</table>
  <% end %>
<p>  
  <%= render "devise/shared/links" %>    
</p>
</div>