<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Nature Quest</title>

<%= stylesheet_link_tag "application", :media => "all" %>
</head>

<body background="/assets/background.png">
<div id="holder">
<div  id="header">
  <%= image_tag('banner.png') %>
  </div>
<div id="content"> 
 <%= yield %>
</div>

<div  id="toolbar">
	<ul>
	<% if user_signed_in? %>
	<li> <%= link_to("Create Quest", new_quest_path)  %> </li>
	<li> <%= link_to "Profile", "#" %> </li>
	<li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
	<% else %>
		<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "Development Blog", "http://www.naturequest.tumblr.com" %></li>
	
	
	<li> <%= link_to('Login', new_user_session_path)  %></li>
	
	<li><%= link_to "About", "#" %></li>
	<li><%= link_to "Contact Us", "#" %></li>
	<% end %>
	</ul>
</div>

</div>
</body>
</html>
